cycler==0.10.0
flatten-dict==0.0.2
google-api-python-client==1.6.4
httplib2==0.10.3
matplotlib==2.1.1
numpy==1.14.0
oauth2client==4.1.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
rsa==3.4.2
six==1.11.0
tornado==4.5.3
uritemplate==3.0.0
